<%= form_for @user, url: user_category_path(id: 1) do |form| %>
  <div class="field">
    <%= form.label :categories %>
    <br>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :title %>
  </div>

  <div class="text-center actions">
    <%= form.submit 'Submit', class: "btn btn-light btn-lg" %>
  </div>
<% end %>