<%= form_for :body, url: send_link_path do |form| %>
  <h4> Put your link here</h4>
  <%= form.text_field :link, class: "form-control", placeholder: 'habr or bbc or picabu'%>

  <%= form.submit 'Submit', class: "btn btn-light btn-lg" %>
<% end %>